body { background-color: aqua;
}

.background {
    height: 500px;
    width: 100%;
    font-size: 115px;
    color:black;
    text-align: center;
    background-attachment: fixed;
    background-image: url(images/atla.jpg);
    background-size: 100%;
    padding-top: 100px;
    overflow: hidden;
    object-fit: cover;


}



nav {   background-color: rgb(145, 146, 145) ; 
        border-color: whitesmoke;
        border-style: double;
        border-width: 16px;
        border-radius: 20px;
        height: 75px;
        margin: 30px;
        margin-top: 50px;
        padding: 10px;   
        text-align: justify;
        
}
   

ul {  
     font-size: 30px;
     font-family: 'Trebuchet MS', sans-serif;
     word-spacing: 300px;
     padding-left: 90px;
     
     
     
}

li {
     display: inline-block;
     text-align: center;
     word-spacing: 1500px; 
     list-style-type: none;
     margin: 0px;
     padding: 0px;

     

}
        


main {
    width: 1200px;
    height: 600px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;


}


article {
    width: 1455px;
    height: 450px;
    background-color: rgb(243, 186, 101);
    margin-left: -125px;
    margin-right: center;
    margin-bottom: 50px;
    padding-top: 30px;
    
  
}


.room {
    width: 425px;
    height: 400px;
    background-color: rgb(145, 146, 145);
    float: left;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 25px;


}


.closet {
    width: 190px;
    height: 250px;
    background-color: rgb(70, 70, 70);
    float: left;
    margin-left: 10px;
    overflow: hidden;
    padding: 5px;
}


p {
    color: black;
    font-size: 20px;
    font-family: Arial;
    text-align: left;
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 5px;
    height: 50px;
    float: left;
    padding: 10px;
    padding-top: 15px;
   

}


img {
    overflow: hidden;
    display: contents;
    object-fit: cover;
    width: 190px;
    height: 250px;


}




